Variables -- to store data that can be referenced and manipulated in a program.
In python , variables don't need explicit declaration to resever memory space.
Declaration happens automatically when assing a value to the variable.

In [4]:
## Declaring and assigning Vaiables

age=32
height=6.0
name="anil"
is_student=True

## Printing

print("age: ",age)
print("Height: ",height)
print("Name: ",name)

age:  32
Height:  6.0
Name:  anil

In [1]:
## Naming Convention
## Variables names should be desciptive
## They must start with a letter or an "_"  and contains letter, numbers and underscores
## Variables names case senstive

## Valid variable names

first_name = "Anil"
last_name="Kumar"

In [2]:
## Invalid variable name

#2age=34
@name="kumar"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3575759103.py, line 4)

In [3]:
##case senstivity

name="anil"
Name="kumar"

In [4]:
## Understanding Variable Types
## Python is dynamically typed, type of a variable is determined at runtime
age=25
height=6.1
name="Kumar"

print(type(name))

<class 'str'>

In [5]:
## Type checking and conversion

type(height)

float

In [7]:
age=24
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
24
<class 'str'>

In [8]:
age='24'
print(type(int(age)))

<class 'int'>

In [9]:
name="anil"
int(name)

ValueError: invalid literal for int() with base 10: 'anil'

In [10]:
height=5.9
type(height)

float

In [12]:
float(int(height))

5.0

In [1]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes

var=10 # int
print(var,type(var))

var="Hello"
print(var,type(var))

var=4.33
print(var,type(var))

var = True 
print(type(var))

10 <class 'int'>
Hello <class 'str'>
4.33 <class 'float'>
<class 'bool'>

In [4]:
## input

var = int(input("What is you age?"))
print(var,type(var))

44 <class 'int'>

In [20]:
### Simple calculator

num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))

sum=num1+num2
difference = num1-num2
product=num1*num2
quotient=num1/num2

print("Sum: ",sum)
print("Difference: ", difference)
print("Product: ",product)
print("Quotient: ",quotient)

Sum:  73.0
Difference:  31.0
Product:  1092.0
Quotient:  2.4761904761904763