 Data types

1.Definition:

 Data types  are a classification of data which tell the compiler or intepreter how the programmer intends to use the data.
 
 They determine the type of operations that can be performed on the data , the values that the data can take, and the amount of memory needed to store the data.

2. Importance of Data Types in Programming

Explanation:

-> Data types ensure that data is stored in an efficient way.
-> They help in performing correct operations on data.
-> Proper use of data types can prevent errors and bugs in the program.


3. Basic Data types
     interger
     float 
     string
     booleans
4. Advanced Data types
     Lists
     Tuples
     Sets 
     Dictionaries

In [2]:
#Integers Example
age=35
type(age)

int

In [ ]:
## floating point 

height = 12.33
print(height)
print(type(height))

12.33
<class 'float'>

In [4]:
## String datatype
name="Krish"
print(type(name))

<class 'str'>

In [5]:
## BOOLEAN datatype

is_student = True
print(type(is_student))

<class 'bool'>

In [7]:
a=10
b=10

type(a==b)

bool

In [8]:
result="hello" + 5

TypeError: can only concatenate str (not "int") to str

In [10]:
result ="hello" + str(5)
print(result)

hello5

In [ ]:
str="Hello"