#### SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
## connect to an SQLite database
connection=sqlite3.connect('example.db')
connection

In [ ]:
## create a cursor to iterate over the table
cursor=connection.cursor()

In [5]:
## create a Table 
cursor.execute(
    '''
    Create Table if Not Exists employees(
              id Integer Primary Key,
              name Text,
              age Integer,
              department text
              )
      '''
)

## commit the changes
connection.commit()

In [6]:
cursor.execute(
    '''
      Select * from employees;      
'''
)

In [7]:
### Insert the data in sqlite table
cursor.execute(
    '''
     Insert into employees(name,age,department)
     VALUES ('Bob',24,'Engineering')
      '''
)

cursor.execute(
    '''
     Insert into employees(name,age,department)
     VALUES ('John',28,'worker')
      '''
)

cursor.execute(
    '''
     Insert into employees(name,age,department)
     VALUES ('Dany',34,'Data scientist')
      '''
)

connection.commit()

In [8]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Bob', 24, 'Engineering')
(2, 'John', 28, 'worker')
(3, 'Dany', 34, 'Data scientist')

In [9]:
## Update the data in the table
cursor.execute('''
UPDATE employees
Set age = 32
where name='John'

''')
connection.commit()

In [ ]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()


## Print queried data
for row in rows:
    print(row)

(1, 'Bob', 24, 'Engineering')
(2, 'John', 32, 'worker')
(3, 'Dany', 34, 'Data scientist')

In [12]:
## Delete  the data from the table
cursor.execute(
    '''
     DELETE from employees where name='John';
      '''
)
connection.commit()

In [13]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()


## Print queried data
for row in rows:
    print(row)

(1, 'Bob', 24, 'Engineering')
(3, 'Dany', 34, 'Data scientist')

In [ ]:
## Working with Sales Data
## Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

## Create a table for sales Data

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
        id INTEGER PRIMARY KEY,
        date text not null,
        product text not null,
        sales integer,
        region text)
''')

connection.commit()

In [18]:
## Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
    Insert into sales(date,product,sales,region)
                    values(?,?,?,?)''',sales_data)

connection.commit()

In [19]:
cursor.execute('Select * from sales')
rows=cursor.fetchall()


## Print queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [ ]:
## close the connection

connection.close()

In [ ]:
## throws error after connection is closed
cursor.execute('Select * from sales')
rows=cursor.fetchall()


## Print queried data
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.