In [1]:
range(5)

range(0, 5)

In [2]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
range(1,10,2)

range(1, 10, 2)

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
## Strings 

str="Krish Naik"

for i in str:
    print(i)

K
r
i
s
h

N
a
i
k

In [12]:
## while loop
## continues to exectue as long as the condition is true

count = 0 

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [14]:
count = 0

while count%2==0:
    print(count)
    count=count+1

0

In [15]:
## Loop Control Statements

## break ==> exit the loop prematurely

## break statement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [17]:
## continue

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [19]:
## pass
## The pass statement is a null operation ; it does nothing

for i in range(5):
    if i==3:
        print("this number is 3")
        pass
    print(i)

0
1
2
this number is 3
3
4

In [21]:
## nested loop 

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [23]:
## Examples - Calculate the sum of first N natural number using a while and for loop

## while loop

n=10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1
print("Sum of first 10 natural number: ", sum)

Sum of first 10 natural number:  55

In [24]:
## for loop

n=10
sum=0

for i in range(11):
    sum=sum + i

print("Sum of first 10 natural number is :",sum)

Sum of first 10 natural number is : 55

In [30]:
## Example - Prime numbers between 1-100

for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97