### Introduction to Tuples

Explanation:

Tuples are ordered collection of items that are immutable. They are similar to lists, but their immutability makes them different.

In [2]:
## Creating  a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst=list() ## or lst=[]
print(type(lst))
tp1=tuple() ## or empty_tuple=()
print(type(tp1))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers=tuple([1,2,3,4,5,6,7]) ## List to tuple
numbers

(1, 2, 3, 4, 5, 6, 7)

In [7]:
list((1,2,3,4,5,6))  ## Tuple to list

[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple=(1,"hello",3.14,True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [9]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6, 7)

In [12]:
print(numbers[2])

3

In [13]:
print(numbers[-1])

7

In [15]:
numbers[0:4]

(1, 2, 3, 4)

In [16]:
numbers[2:5]

(3, 4, 5)

In [18]:
numbers[::2]

(1, 3, 5, 7)

In [19]:
numbers[::-1]

(7, 6, 5, 4, 3, 2, 1)

In [ ]:
## Tuple Operation

## concatenation


concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 1, 'hello', 3.14, True)

In [ ]:
## Appended n times to the tuple
mixed_tuple * 3

(1, 'hello', 3.14, True, 1, 'hello', 3.14, True, 1, 'hello', 3.14, True)

In [24]:
numbers * 3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [38]:
## Immutable Nature of Tuples
## Tuples are immutable , meaning their elements cannot be changed once assigned

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [39]:
numbers

numbers[1]=10

print(numbers)

TypeError: 'tuple' object does not support item assignment

In [43]:
## Tuple Methods

numbers

print(numbers.count(1))
print(numbers.index(5))

# print(numbers.count(1))

1
4

In [44]:
## Packing and Unpacking tuple
## Packing


packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [45]:
##Unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [47]:
## Unpacking with *

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [51]:
### Nested Tuple

## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"b"]]
lst[0][0:3]

[1, 2, 3]

In [54]:
tpl=((1,2,3,4),(6,7,8,9),(1,"Hello",3.14,"b"))
tpl[2][0:3]

(1, 'Hello', 3.14)

In [57]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))

## Accessing the elements inside a nested tuple

print(nested_tuple[0])
print(nested_tuple[1][1])

(1, 2, 3)
b

In [59]:
## Iterating over nested tuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is requried. They are commonly used in data structures , function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readibility of your Python code.